section{
    padding: 2rem 0;
}
label{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius:20px ;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: large;
}
label span{
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}
input{
    display: none;
}
img{
    padding:0;
    margin: 0;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}